@import "colors";

body {
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Signika', sans-serif;
    font-weight: 300;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

button,
select,
input {
    outline: none;
    border: none;
}

table {
    width: 100%;
    margin: 0 auto 1rem;
    border-collapse: collapse;
    border-spacing: 0;
}

main {
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    min-height: 90vh;
    padding: 30px 0;
}

.content {
    border-radius: 4px;
    background-color: #fff;
    min-height: 100vh;
    padding: 25px;
}

.title {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.heading {
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url(../assets/fonts/PokemonSolid.ttf);
    font-weight: normal;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: all .5s ease;
}

.pulse-enter {
    opacity: 0;
    transform: scale(0.5);
}

.pulse-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity .4s, transform .4s;
}

.pulse-exit {
    opacity: 1;
}

.pulse-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity .4s, transform .4s;
}


.wrap-transition {
    overflow: hidden;
}

.wrapper {
    transition: all .5s ease;
}

.left .slide-enter {
    transform: translateX(100%);
}

.left .slide-enter-active {
    transform: translateX(0%);
}

.left .slide-exit {
    transform: translateX(-100%);
}

.left .slide-exit-active {
    transform: translateX(-100%);
}

.right .slide-enter {
    transform: translateX(-100%);
}

.right .slide-enter-active {
    transform: translateX(0%);
}

.right .slide-exit {
    transform: translateX(100%);
}

.right .slide-exit-active {
    transform: translateX(100%);
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 45px;
        margin-bottom: 80px;
    }
    .heading {
        text-align: left;
        font-size: 36px;
    }
    .content{
        padding: 40px;
    }
}