.header {
    background-color: #404079;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    padding-bottom: 10px;
    letter-spacing: 6px;
    a {
        line-height: 1;
        font-size: 20px;
        font-family: 'Pokemon Solid';
        color: #fff;
        display: block;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .title a {
        font-size: 30px;
    }
}