.wrap-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    button {
        cursor: pointer;
        padding: 16px;
        margin: 0 5px;
        border-radius: 4px;
        font-size: 16px;
        color: #fff;
        background-color: #f1f1f1;
        position: relative;
        img {
            width: 20px;
        }
        &:hover {
            background-color: #e5e5e5;
        }
        &.active {
            background-color: #fbbb2e;
            img {
                fill: #fff;
            }
            &:after {
                background-color: #fff;
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 18px;
            height: 18px;
            display: inline-block;
            background-color: #000;
        }
        &.first {
            &:after {
                mask: url(../assets/images/icon-list.svg) no-repeat center / contain;
                -webkit-mask: url(../assets/images/icon-list.svg) no-repeat center / contain;
            }
        }
        &.second {
            &:after {
                mask: url(../assets/images/icon-table.svg) no-repeat center / contain;
                -webkit-mask: url(../assets/images/icon-table.svg) no-repeat center / contain;
            }
        }
    }
    .filter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
        .input {
            border: 1px solid #dbdbdb;
            border-radius: 4px;
            font-size: 15px;
            &:focus {
                border-color: #fcbb2e;
            }
        }
        .wrap-ip {
            margin-bottom: 10px;
            span {
                display: inline-block;
                font-size: 16px;
                margin-right: 15px;
                width: 50px;
            }
            input {
                width: 250px;
                padding: 0.75rem;
            }
            select {
                min-width: 100px;
                margin-right: 20px;
                padding: 0.5rem 0.75rem;
                &:focus {
                    border-color: #fcbb2e;
                }
            }
        }
    }
    .wrap-btn {
        margin-left: auto;
    }
}

.wrap-pokemon-list {
    margin-bottom: 60px;
    padding: 20px;
    position: relative;
    &.filtering {
        &:after {
            content: "";
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            pointer-events: none;
        }
    }
}

@media (max-width: 1024px) {
    .table-container {
        overflow: auto;
        width: 100%;
        .pokemon-table {
            width: 960px;
            thead tr th {
                min-width: 100px;
                &:nth-child(2) {
                    min-width: 140px;
                }
            }
            th {
                font-size: 15px;
                padding: 10px 5px;
            }
            td {
                font-size: 14px;
                padding: 2px 5px;
            }
        }
        &::-webkit-scrollbar {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: 7px
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(169, 169, 169, .5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5)
        }
    }
}

@media (min-width: 1024px) {
    .wrap-filter {
        margin-bottom: 40px;
        .filter .wrap-ip {
            margin: 0 40px 0 0;
        }
    }
}

// @import "./PokemonList";
// @import "./PokemonTable";