@import "colors";
.title {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.heading {
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.h4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.wrap-pokemon-detail {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 30px 20px;
    margin: 0 auto 50px auto;
    >.img {
        padding: 0px 50px;
        margin-bottom: 20px;
    }
}

.wrap-pokemon-info {
    flex: 1;
}

.table-data {
    tr {
        border-bottom: 1px solid #f1f1f1;
    }
    td {
        padding: 10px;
    }
}

// .types {
//     display: flex;
//     li {
//         line-height: 1;
//         max-width: 120px;
//         min-width: 30%;
//         text-align: center;
//         margin-right: 5px;
//         a {
//             display: inline-block;
//             width: 100%;
//             padding: 4px;
//             font-size: 14px;
//             color: #fff;
//             text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
//             border-radius: 5px;
//             &:hover {
//                 opacity: 0.7;
//             }
//         }
//     }
// }

.wrap-pokemon-stats {
    width: 100%;
    margin: 50px 0;
}

.table-stat {
    width: 100%;
    margin: 0;
    tr {
        border-bottom: 1px solid #f1f1f1;
        td:first-child {
            color: #737373;
            width: 150px;
        }
        td:nth-child(2) {
            width: 100px;
        }
    }
    td {
        padding: 10px;
    }
}

.stat-bar {
    width: 100%;
    div {
        height: .75rem;
        border-radius: 4px;
        border: 1px solid #737373;
        border-color: rgba(0, 0, 0, .15);
    }
}

.wrap-pokemon-moves{
    width: 100%;
}

.moves{
    padding: 0 20px;
    margin-bottom: 20px;
}

.wrap-evolution-chain {
    width: 100%;
}

.list-evolution {
    .evo-item {
        display: flex;
        flex-direction: column;
        max-width: 100px;
        text-align: center;
        position: relative;
        margin: 0 auto;
        &:not(:last-child) {
            margin-bottom: 70px;
            &:after {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                border-top: 1px solid #333;
                border-right: 1px solid #333;
                border-width: 3px;
                transform: rotate(135deg) translateX(-50%);
                right: 50%;
                bottom: -45px;
            }
        }
        .img {
            height: 100px;
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        .name {
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.home {
    margin: 30px auto;
    display: table;
    padding: 8px 20px;
    border-radius: 4px;
    background-color: #404079;
    font-size: 18px;
    color: #fff
}

@media (min-width: 1024px) {
    .title {
        font-size: 45px;
        margin-bottom: 80px;
    }
    .wrap-pokemon-detail {
        padding: 30px 50px;
        >.img {
            padding: 0;
            margin: 0 50px 0 0;
            max-width: 360px;
        }
    }
    .heading {
        text-align: left;
        font-size: 36px;
    }
    .table-stat {
        width: 80%;
    }
    .list-evolution {
        display: flex;
        flex-wrap: wrap;
        .evo-item {
            max-width: 150px;
            margin: initial;
            &:not(:last-child) {
                margin: 0 100px 0 0;
                &:after {
                    width: 25px;
                    height: 25px;
                    border-width: 4px;
                    transform: rotate(45deg);
                    right: -60px;
                    top: 25%;
                }
            }
        }
    }
}